@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Outfit:wght@400;700&family=Roboto:wght@100&display=swap');

:root {
    --verdesini: hsl(179, 27%, 51%);
    --rojini: hsl(356, 75%, 57%);
    --amarillo: hsl(53, 72%, 50%);
}

* {
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* margin: 0;
    padding: 0; */
    font-family: "Josefin Sans";
    margin: 0;
    /* flex-direction: column; */
    /* align-items: center; */

    /* overflow-y: scroll;
    overflow-x: hidden; */
}

a {
    text-decoration: none;
}

/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */
/* sidebar */

/* ==================================================================================================================================================== */
/* Estilos para darle funcionalidad al menu */


/* ==================================================================================================================================================== */
/* ==================================================================================================================================================== */

/* Estilo barra fija al inicio */
.menu {
    /* display: flex; */
    background-color: #111;
    color: white;
    padding: 1.25rem;
    width: 100%;
    /* position: fixed; */
    top: 0;
}

.menu a {
    margin-right: 4rem;
} 

main {
    margin-top: 4.5rem;
}


/* Estilos productos */

.contenido-principal {
  font-size: 1.30rem;
  /* margin-left: 280px; */
}

.producto {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.producto h2{
    color: var(--verdesini);
    margin: 0.75rem;
}

.producto p{
    margin: .5rem;
}


